@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Rock Salt, cursive;
    font-weight: 300;
    color: #6b1c16;
}

/* headings & logo */

h1, h2 {
    font-family: Irish Grover, cursive;
    color:#4a1815;
    letter-spacing: 4px;

}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color:#88b88b;
}

#menu a:hover {
    border-bottom: 1px solid #166b1c;
}

.active {
    border-bottom: 1px solid  #166b1c;
}