@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: "Rock Salt", cursive;
    font-weight: 300;
    color: #6d2e07;
    background-color: #b2bdc1;
}

/* headings & logo */

h1, h2 {
    font-family: "Irish Grover", cursive;
    color:#4a1815;
    letter-spacing: 4px;

}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color:#004c32;
}

#menu a:hover {
    border-bottom: 1px solid #004c32;
}

.active {
    border-bottom: 1px solid  #166b1c;
}

/* hero-image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
}
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

/* trenching-evaluation */

#trenching-evaluation {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1 px solid #4a1815;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.left-about-heading h2 {
    text-align: center;
}

.left-about-heading li {
    text-align: left;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: center;
}

.right-about-heading li {
    text-align: left;
}

#services {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #166b1c;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background:url('../images/test-trenching3.jpeg') no-repeat center center;
    height:100%;
    border-radius: 50%;
}


/* survey-digital */

#survey-digital {
    height: 600px;
}

#left-bottom-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-bottom-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-bottom-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1 px solid #4a1815;
    width: 100%;
    margin: 5px 0;
}

.left-bottom-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-bottom-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-bottom-about-heading h2 {
    text-align: center;
}
.left-bottom-about-heading h2 {
    text-align: center;
}
.left-bottom-about-heading li {
    text-align: left;
}

.right-bottom-about-heading p {
    text-align: left;
}

.right-bottom-about-heading li {
    text-align: left;
}

#services {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}


#circle-bottom-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #166b1c;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-bottom-cover-bg {
    background:url('../images/digital-image3.jpg') no-repeat center center;
    height:100%;
    border-radius: 50%;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}



.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
}

footer > p {
    font-size: 100%;
    text-align: center;
}

/* FAQ */

#questions {
    margin: 10px 15px;
    padding: 1%;
    text-align: center;
    
}

#faq {
    margin: 20px 0;
    font-size: 280%;
}

#info {
    text-align: left;
}

/* laws */


#laws {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#left-links {
    padding-top: 30px;
    width: 50%;
    float: left;
}
.law-links {
    text-align: center;
}

#right-picture {
    width: 50%;
    margin: 0 auto; 
    float: right;
}

#picture {
    width: 400px;
    height: 300px;
    padding: 60px;
    margin: 0 auto;
}

#picture-cover {
    background:url('../images/planning-board.jpg') no-repeat center center;
    height: 100%;
}

/* Contact*/

.form-section {
    clear: left;
    background: url('../images/archaeology-1-1456973.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
}

.contact-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 5%;
    padding: 30px;
}

.contact-form h3 {
    color: #fafafa;
    margin-bottom: 30px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color:#f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    position: bottom;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #trenching-evaluation {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    #services {
        padding: 30px 0;
        margin: 0;
    }
    #left-about, #right-about {
        width:100%;
        float: left;
        padding: 0;
    }
    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }
    #survey-digital {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    #left-bottom-about, #right-bottom-about {
        width:100%;
        float: left;
        padding: 0;
    }
    #center-bottom-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }
    hr {
        display: none;
    }
}

/* For medium screens size from 950px wide and down */

@media screen and max-width: 950px) {

    
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;

    }
    
    #trenching-evaluation {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }
    .left-about-heading, .right-about-heading {
        width: inherit;
    }
    .left-about-heading h2, .left-about-heading h2 {
        width:100%;
        text-align: center;
    }
    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px 0 20px
    }
    #survey-digital {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-bottom-about-heading, .right-bottom-about-heading {
        width: inherit;
    }
    .left-bottom-about-heading h2, .left-bottom-about-heading h2 {
        width:100%;
        text-align: center;
    }
    .left-bottom-about-heading p, .right-bottom-about-heading p {
        text-align: center;
        padding: 0 20px;
    }
    
}
